:root{
  --clr-secondary-main:#9E78CF;
}
.todo-input{
  border-radius: 8px;
  background-color: transparent;
  height: 40px;
  border: 1px solid var(--clr-secondary-main);
  width: 100%;
  padding-left: 16px;
  color: #ffffff;
}
.todo-input:focus{
  outline: none;
}